#editor {
    margin: 0 auto;
}

#editor_text {
    height: 400px;
    width: 500px;
    padding: 10px;
    border: 1px solid blue;
    border-radius: 10px;
    outline: none;
    overflow: scroll;
}

#ready_text {
    height: 400px;
    width: 500px;
    padding: 5px;
    outline: 0;
    overflow: scroll;
    outline: none;
}