#editor {
    margin: 0 auto;
}

body {
    background-color: #2e2e2e;
}

#title {
    text-align: center;
    color: lightcoral;
}

#editor_text {
    background-color: #4a4a4a;
    color: #d6d6d6;
    height: 700px;
    padding: 10px;
    overflow: auto;
    outline: none;
}

#ready_text {
    color: #d6d6d6;
    height: 700px;
    padding: 10px;
    overflow: auto;
    outline: none;
}

#file-uploader {
    opacity: 0;
}